# This .gitattributes file should be placed at the root of Parrot Code project directory

* text=auto

*.cs text eol=lf
*.py text eol=lf
*.md text eol=lf
*.js text eol=lf
*.json text eol=lf
*.txt text eol=lf
*.asmdef text eol=lf
*.asmref text eol=lf
*.uss text eol=lf
*.ymal text eol=lf
*.yml text eol=lf
*.uxml text eol=lf
*.xml text eol=lf
*.html text eol=lf

/UnityTemplate/*.cs text eol=lf
/UnityTemplate/*.py text eol=lf
/UnityTemplate/*.md text eol=lf
/UnityTemplate/*.js text eol=lf
/UnityTemplate/*.json text eol=lf
/UnityTemplate/*.txt text eol=lf
/UnityTemplate/*.asmdef text eol=lf
/UnityTemplate/*.asmref text eol=lf
/UnityTemplate/*.uss text eol=lf
/UnityTemplate/*.ymal text eol=lf
/UnityTemplate/*.yml text eol=lf
/UnityTemplate/*.uxml text eol=lf
/UnityTemplate/*.xml text eol=lf
/UnityTemplate/*.html text eol=lf